<div class="input-group mb-4 w-50 m-auto">
  <input type="text" class="form-control" placeholder="Buscar producto..." [(ngModel)]="terminoBusqueda" />
  <button class="btn btn-outline-secondary" type="button" (click)="filtrarProductos()">
    <i class="bi bi-search"></i>
  </button>
</div>

<div class="row">
  <div *ngFor="let producto of productos | filtroProductos:terminoBusqueda" class="col-sm-6 col-md-4 col-lg-3 mb-4 m-auto">
    <div class="card h-100 shadow-sm align-items-center">
      <img [src]="producto.thumbnail" class="card-img-top" [alt]="producto.title">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-primary">{{ producto.title }}</h5>
        <p class="card-text flex-grow-1">{{ producto.description }}</p>
        <span class="fw-bold mt-auto">Precio: {{ producto.price }}€</span>
      </div>
    </div>
  </div>
</div>

