<div class="input-group mb-4">
  <input type="text" class="form-control" placeholder="Buscar producto..." [(ngModel)]="terminoBusqueda" />
  <button class="btn btn-outline-secondary" type="button" (click)="filtrarProductos()">
    <i class="bi bi-search"></i>
  </button>
</div>
<div class="row">
  <div>
    <div *ngFor="let producto of productosFiltrados" class="card w-25 m-auto mb-2 p-2">

      <img [src]="producto.thumbnail" class="card-img-top" [alt]="producto.title">
      <h5>{{ producto.title }}</h5>
      <p>{{ producto.description }}</p>
      <span>Precio: {{ producto.price }}€</span>
    </div>
  </div>
</div>
