<header class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="lista">Lista de Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="busqueda">Buscar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="acercade">Acerca De</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section>

  <router-outlet></router-outlet>

</section>


<footer>
<footer class="bg-dark text-white mt-5 p-4 text-center">
  <div class="container">
    <p class="mb-1">© 2025 Jose Manuel Castillo. Todos los derechos reservados.</p>
    <p class="mb-0">
      Contacto: <a href="mailto:josemanuel@example.com" class="text-white text-decoration-underline"><p>josemanuel&#64;ejemplo.com</a>
    </p>
    <p class="mt-2">
      <a href="https://github.com/josemanuel" target="_blank" class="text-white me-2">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://twitter.com/josemanuel" target="_blank" class="text-white">
        <i class="bi bi-twitter"></i>
      </a>
    </p>
  </div>
</footer>

</footer>
