<div class="container mt-4 h-90">
  <h2>🛍️ Acerca de esta aplicación</h2>
  <p>
    Bienvenido a la app de productos. Esta aplicación permite consultar, buscar y agregar productos utilizando la API
    pública de DummyJSON.
  </p>

  <h4>🔧 Tecnologías usadas</h4>
  <ul>
    <li>Angular</li>
    <li>Bootstrap</li>
    <li>DummyJSON API</li>
  </ul>

  <h4>👨‍💻 Desarrollador</h4>
  <p>Jose Manuel Castillo</p>

  <h4>📫 Contacto</h4>
  <p>
    <a href="mailto:ejemplo@example.com">
      <p>josemanuel&#64;ejemplo.com</p>
    </a>
  </p>
</div>
